html {
    --primary_color: #ff531e;
    --secondary_color: rgb(129, 27, 255);
    --shadow_color: rgba(255, 255, 255, 0.5);
    --hover_color: #ff8f1e;
    --heart_color: rgb(83, 230, 83);
}

body {
    margin: 0;
    font-size: 24px;
}

body * {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Titan One', cursive;
    color: var(--primary_color);
    filter: drop-shadow(2px 2px 5px var(--shadow_color));
}

#container {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
